/* General */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    padding:10px;
    margin-top: auto;
    background-color: #095fe0;
}

/* Title headings */

.title {
    margin-top: 20px;
}

/* Anchor Tags */

a:link {
    text-decoration:none;
}

/* Container */
.container-fluid {
    font-family: 'Roboto Mono', monospace;
    padding: 3%;
}

/* Row */
.col {
    padding: 2%;
}


/* Footer */

.p-footer {
    color:white;
    font-weight: 100;
 }

 .icon-img {
    color: white;
}



/* ::-webkit-scrollbar { 
    display: none; 
  }  */
