{% include "header.html"%}

<div class="container-fluid">
    <h1 class="text-center title"><a href="{{url_for('home')}}">Text to Morse Converter</a> </h1>
</div>
<hr>
<h3 class="text-center title">Entries</h3>
<h6 class="text-center title" style="color:orange" >I take no responsibility for entries that users passed in. </h6>
<br>

<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Entry</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
      <tr>
        <th scope="row">{{item.id}}</th>
            <td>{{item.entry}}</td>
      </tr>
      {% endfor %}
  </table>
</div>

{% include "footer.html"%}