{% include "header.html"%}

<div class="container-fluid">
    <h1 class="text-center title"><a href="{{url_for('home')}}">Text to Morse Converter</a> </h1>
</div>
<hr>
<h3 class="text-center title">Symbols Comparison</h3>
<br>
<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Plain text</th>
        <th scope="col">Morse code</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(default_alphabet|length)%}
      <tr>
        <th scope="row">{{i}}</th>
        {% if default_alphabet[i] == " "%}
            <td>SPACE</td>
            <td>{{morse_alphabet[i]}}</td>
        {% else %}
            <td>{{default_alphabet[i]}}</td>
            <td>{{morse_alphabet[i]}}</td>
        {% endif %}
      </tr>
      {% endfor %}
  </table>
</div>

{% include "footer.html"%}